---
import Navbar from "../components/Navbar.jsx";
---

<Navbar>
<ul slot="nav-links">
    <li><a href="../pages/home.astro">Home</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>
</Navbar>