---
import Layout from "../layouts/Layout.astro"
import Perros from "../components/perritos.jsx"
---

<Layout title="Doggie Pics">
      <body class="bg-gray-900">
            <div class="display: grid justify-center align-middle">
                  <h1 class="text-center font-black text-2xl">
                        Perritos randoms
                  </h1> 
            
                  <section class="sm:flex-col md:">
                        <Perros client:only="react" />
                  </section>
            </div>
      </body>
</Layout>
