---
import Layout from "../layouts/Layout.astro"
import RickAndMortyAPI from "../components/RickAndMortyAPI.jsx"
---

<Layout title="Rick and Morty Wiki">
      <body>
            <div class="display: grid justify-center align-middle">
                  <h1 class="text-center font-black text-2xl">
                        Rick y Morty Wiki
                  </h1> 
            
                  <section>
                        <RickAndMortyAPI client:only="react" />
                  </section>
            </div>
      </body>
</Layout>