---
import Header from "../../components/SpaceX/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Antiguos lanzamientos">
  <main class="bg-gray-900 min-h-screen pb-32">
    <Header />
    <h1 class="text-white">Lanzamientos antiguos</h1>
  </main>
</Layout>
